<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AUD</key>
    <dict>
        <key>*</key>
        <real>0.64</real>
    </dict>
    <key>ZAR</key>
    <dict>
        <key>*</key>
        <real>0.61</real>
    </dict>
    <key>GBP</key>
    <dict>
        <key>*</key>
        <real>0.58</real>
    </dict>
    <key>DKK</key>
    <dict>
        <key>*</key>
        <real>0.56</real>
    </dict>
    <key>SEK</key>
    <dict>
        <key>*</key>
        <real>0.56</real>
    </dict>
    <key>CHF</key>
    <dict>
        <key>*</key>
        <real>0.65</real>
    </dict>
    <key>NOK</key>
    <dict>
        <key>*</key>
        <real>0.56</real>
    </dict>
    <key>EUR</key>
    <dict>
        <key>LU</key>
        <real>0.6</real>
        <key>MT</key>
        <real>0.59</real>
        <key>CY</key>
        <real>0.59</real>
        <key>DE</key>
        <real>0.59</real>
        <key>FR</key>
        <real>0.58</real>
        <key>AT</key>
        <real>0.58</real>
        <key>BG</key>
        <real>0.58</real>
        <key>EE</key>
        <real>0.58</real>
        <key>SK</key>
        <real>0.58</real>
        <key>BE</key>
        <real>0.58</real>
        <key>CZ</key>
        <real>0.58</real>
        <key>LV</key>
        <real>0.58</real>
        <key>LT</key>
        <real>0.58</real>
        <key>NL</key>
        <real>0.58</real>
        <key>ES</key>
        <real>0.58</real>
        <key>IT</key>
        <real>0.57</real>
        <key>SI</key>
        <real>0.57</real>
        <key>GR</key>
        <real>0.57</real>
        <key>IE</key>
        <real>0.57</real>
        <key>PL</key>
        <real>0.57</real>
        <key>PT</key>
        <real>0.57</real>
        <key>FI</key>
        <real>0.56</real>
        <key>RO</key>
        <real>0.56</real>
        <key>HU</key>
        <real>0.55</real>
    </dict>
</dict>
</plist>
