<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cid</key>
		<string>AE</string>
		<key>cname</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AG</string>
		<key>cname</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AI</string>
		<key>cname</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AL</string>
		<key>cname</key>
		<string>Albania</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AM</string>
		<key>cname</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AO</string>
		<key>cname</key>
		<string>Angola</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AR</string>
		<key>cname</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AT</string>
		<key>cname</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AU</string>
		<key>cname</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>AZ</string>
		<key>cname</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BB</string>
		<key>cname</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BE</string>
		<key>cname</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BF</string>
		<key>cname</key>
		<string>Burkina Faso</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BG</string>
		<key>cname</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BH</string>
		<key>cname</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BJ</string>
		<key>cname</key>
		<string>Benin</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BM</string>
		<key>cname</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BN</string>
		<key>cname</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BO</string>
		<key>cname</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BR</string>
		<key>cname</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BS</string>
		<key>cname</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BT</string>
		<key>cname</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BW</string>
		<key>cname</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BY</string>
		<key>cname</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>BZ</string>
		<key>cname</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CA</string>
		<key>cname</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CG</string>
		<key>cname</key>
		<string>Republic Of Congo</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CH</string>
		<key>cname</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CL</string>
		<key>cname</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CN</string>
		<key>cname</key>
		<string>China</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CO</string>
		<key>cname</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CR</string>
		<key>cname</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CV</string>
		<key>cname</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CY</string>
		<key>cname</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>CZ</string>
		<key>cname</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>DE</string>
		<key>cname</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>DK</string>
		<key>cname</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>DM</string>
		<key>cname</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>DO</string>
		<key>cname</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>DZ</string>
		<key>cname</key>
		<string>Algeria</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>EC</string>
		<key>cname</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>EE</string>
		<key>cname</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>EG</string>
		<key>cname</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ES</string>
		<key>cname</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>FI</string>
		<key>cname</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>FJ</string>
		<key>cname</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>FM</string>
		<key>cname</key>
		<string>Federated States Of Micronesia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>FR</string>
		<key>cname</key>
		<string>France</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GB</string>
		<key>cname</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GD</string>
		<key>cname</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GH</string>
		<key>cname</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GM</string>
		<key>cname</key>
		<string>Gambia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GR</string>
		<key>cname</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GT</string>
		<key>cname</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GW</string>
		<key>cname</key>
		<string>Guinea-Bissau</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>GY</string>
		<key>cname</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>HK</string>
		<key>cname</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>HN</string>
		<key>cname</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>HR</string>
		<key>cname</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>HU</string>
		<key>cname</key>
		<string>Hungary</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ID</string>
		<key>cname</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>IE</string>
		<key>cname</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>IL</string>
		<key>cname</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>IN</string>
		<key>cname</key>
		<string>India</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>IS</string>
		<key>cname</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>IT</string>
		<key>cname</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>JM</string>
		<key>cname</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>JO</string>
		<key>cname</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>JP</string>
		<key>cname</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KE</string>
		<key>cname</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KG</string>
		<key>cname</key>
		<string>Kyrgyzstan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KH</string>
		<key>cname</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KN</string>
		<key>cname</key>
		<string>St. Kitts and Nevis</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KR</string>
		<key>cname</key>
		<string>Republic Of Korea</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KW</string>
		<key>cname</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KY</string>
		<key>cname</key>
		<string>Cayman Islands</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>KZ</string>
		<key>cname</key>
		<string>Kazakstan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LA</string>
		<key>cname</key>
		<string>Lao People</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LB</string>
		<key>cname</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LC</string>
		<key>cname</key>
		<string>St. Lucia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LK</string>
		<key>cname</key>
		<string>Sri Lanka</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LR</string>
		<key>cname</key>
		<string>Liberia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LT</string>
		<key>cname</key>
		<string>Lithuania</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LU</string>
		<key>cname</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>LV</string>
		<key>cname</key>
		<string>Latvia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MD</string>
		<key>cname</key>
		<string>Republic Of Moldova</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MG</string>
		<key>cname</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MK</string>
		<key>cname</key>
		<string>Macedonia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ML</string>
		<key>cname</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MN</string>
		<key>cname</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MO</string>
		<key>cname</key>
		<string>Macau</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MR</string>
		<key>cname</key>
		<string>Mauritania</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MS</string>
		<key>cname</key>
		<string>Montserrat</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MT</string>
		<key>cname</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MU</string>
		<key>cname</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MW</string>
		<key>cname</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MX</string>
		<key>cname</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MY</string>
		<key>cname</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>MZ</string>
		<key>cname</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NA</string>
		<key>cname</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NE</string>
		<key>cname</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NG</string>
		<key>cname</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NI</string>
		<key>cname</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NL</string>
		<key>cname</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NO</string>
		<key>cname</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NP</string>
		<key>cname</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>NZ</string>
		<key>cname</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>OM</string>
		<key>cname</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PA</string>
		<key>cname</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PE</string>
		<key>cname</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PG</string>
		<key>cname</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PH</string>
		<key>cname</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PK</string>
		<key>cname</key>
		<string>Pakistan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PL</string>
		<key>cname</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PT</string>
		<key>cname</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PW</string>
		<key>cname</key>
		<string>Palau</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>PY</string>
		<key>cname</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>QA</string>
		<key>cname</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>RO</string>
		<key>cname</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>RU</string>
		<key>cname</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SA</string>
		<key>cname</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SB</string>
		<key>cname</key>
		<string>Solomon Islands</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SC</string>
		<key>cname</key>
		<string>Seychelles</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SE</string>
		<key>cname</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SG</string>
		<key>cname</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SI</string>
		<key>cname</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SK</string>
		<key>cname</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SL</string>
		<key>cname</key>
		<string>Sierra Leone</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SN</string>
		<key>cname</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SR</string>
		<key>cname</key>
		<string>Suriname</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ST</string>
		<key>cname</key>
		<string>Sao Tome and Principe</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SV</string>
		<key>cname</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>SZ</string>
		<key>cname</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TC</string>
		<key>cname</key>
		<string>Turks and Caicos</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TD</string>
		<key>cname</key>
		<string>Chad</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TH</string>
		<key>cname</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TJ</string>
		<key>cname</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TM</string>
		<key>cname</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TN</string>
		<key>cname</key>
		<string>Tunisia</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TR</string>
		<key>cname</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TT</string>
		<key>cname</key>
		<string>Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TW</string>
		<key>cname</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>TZ</string>
		<key>cname</key>
		<string>Tanzania</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>UA</string>
		<key>cname</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>UG</string>
		<key>cname</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>US</string>
		<key>cname</key>
		<string>United States</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>UY</string>
		<key>cname</key>
		<string>Uruguay</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>UZ</string>
		<key>cname</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>VC</string>
		<key>cname</key>
		<string>St. Vincent and The Grenadines</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>VE</string>
		<key>cname</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>VG</string>
		<key>cname</key>
		<string>British Virgin Islands</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>VN</string>
		<key>cname</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>YE</string>
		<key>cname</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ZA</string>
		<key>cname</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>cid</key>
		<string>ZW</string>
		<key>cname</key>
		<string>Zimbabwe</string>
	</dict>
</array>
</plist>
